  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Download LEO-SAT NMS Brochure</h2>
              <a href="/public/LEOSATNMSBROCHURE2025.pdf" class="btn btn-default btn-xl wow tada">Download Here!</a>
          </div>
      </div>
     <br>
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Starlink Satellite Geo Map Screenshots</h2>
              <a href="/public/starlinkgeomap_screenshot.jpg" class="btn btn-default btn-xl wow tada">View Here!</a>
          </div>
      </div>
     <br>    
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Starlink NMS Standard Profile Demo Site</h2>
              <a href="https://june-kor.github.io/leonms-demo/" class="btn btn-default btn-xl wow tada">Visit Here!</a>
          </div>
      </div>
  </aside>
