<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We deliver Korea’s pioneering LEO Satellite NMS software technology.</h2>
                <hr class="light">
                <p class="text-faded">LEO Satellite NMS STANDS APART from conventional satellite NMS. We developed Korea’s first integrated satellite ground station management software and are the nation’s leading experts in wired and wireless networks. Building on this expertise, we deliver Korea’s first and most comprehensive NMS technology tailored for LEO satellites.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
