<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Address & Contacs</h2>
                <hr class="primary">
                <p>#325-3(MisoAce), Seodaemun-gu BI Center ,Tongil-ro 484, Seodaemun-gu, Seoul, Republic of Korea(03628)</p>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://sjint21.modoo.at">
                <i class="fa fa-home fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>SJ INT HOMEPAGE</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
                <p> </p>            
        </div>        
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
    </div>
</section>
