<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to Korea’s Leading LEO Satellite NMS Techenology.</h1>
            <hr>
            <p>This is Korea’s premier platform for next-generation Low Earth Orbit (LEO) satellite NMS technology. It showcases cutting-edge software solutions essential for LEO satellites, a cornerstone of 6G innovation.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
