<section id="technology">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calculator wow bounceIn text-primary"></i>
                    <h3>LEO SAT orbital tracking technology</h3>
                    <p class="text-muted">Tracking informations of LEO SAT are shown with new Front/BackEnd technology</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>LEO SAT Telemetics technology</h3>
                    <p class="text-muted">The telimetrics Info of LEO SATs is represented by the cutting-edged technology</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Provide industrial standard information</h3>
                    <p class="text-muted">Provides managed information from LEO SATs as an industry standard</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>NMS just for LEO Satellite</h3>
                    <p class="text-muted">Provides optimized NMS technology for LEO SATs different from legacy SAT NMS</p>
                </div>
            </div>
        </div>
    </div>
</section>
